
#wrapper{
  background-color:$green-2;
  background-size: cover;
}
.card-img-top{
 width: 314px;
 height: 300px;
}
.card{
  border:solid 3px;
  box-shadow: 0 10px 10px rgba(0,0,0,.26);
  margin-bottom: 20px;
}
