
#wrapper{
  background-color:$green-2;
  background-size: cover;
}
.card-img-top{
  box-shadow: 0 10px 10px rgba(0,0,0,.26);
}
.card{
  border:solid 3px $gray-300;
  box-shadow: 0 10px 10px rgba(0,0,0,.26);
  margin-bottom: 20px;
  min-height: 580px;
}
