.vr{
  &-post-content {
    background-color: $white;
    margin-top: 120px;
    margin-bottom: 120px;
    border:solid 3px $gray-400;
    box-shadow: 0 10px 10px rgba(0,0,0,.26);
 
  .vr-photo-post  {
      box-shadow: 0 10px 10px rgba(0,0,0,.26);
      width:100%;
    }
  }
  &-pdf{
    display: block;
    margin: auto;
    height:80px;
    width:80px;
    margin-bottom:10px;
  }
}
.vr-title-post{
  padding-top: 100px;
  text-align: center;


}
.vr-file-post{
  @extend .col-md-4;
}
